/* ============================================= */
/*              Color Variables                  */
/* ============================================= */

$green: #58e1c1;
$basehead: #777;
$butlink: #51ddfc;
$error: #e4757a;
$warning: #fd7856;

/* ============================================= */
/*              Size Variables                   */
/* ============================================= */

