
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $butcol;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }


@each $btn-color, $color in $btn-colors {
    #{$btn-color} {
      background-color: $color;
      transition: .5s;
      &:hover {
        background-color: lighten($color, 15%);
      }
    }
}
